:root {
    --primary-color: #ff0;
    --column-width:1700px;
    --margin-bottom:1px;
    --margin-top:55vh; /*55vh */
  }

.main-grid {
    width: 100%;
}

.sidebar{
   
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: space-between;
   
    align-items: flex-end;
    width: 100%;
}

.logo {margin-top:-130px}   

.content-wrapper {
  margin:0 auto;
 
}

.site-footer {
    position: relative;
    bottom: 1rem;
    left: 0; 
}

/* GRID MEDIA Q */
@media (min-width: 1024px) {
    .sidebar {
        height: 100vh;
        width: 25%;
        position:fixed;
        /* width: var(--column-width); */

        /* test */
    }
    .header { 
        flex-direction: column; 
        height: 100%; 
        align-items: flex-start;
    }
    .logo { margin-top:-10px}   
    
    .content-wrapper {
        width:75%;
        float:right; 
    }

    .site-footer {
            position: absolute;
            left: 2rem;
    }   
}

@media (min-width: 1500px) { 

    .content-wrapper {
        
        margin:0 auto;
        max-width: 50%;
        float: none;
        padding-right:0;
    }
}





/*//PROJECT GRID//*/

.projects-grid {
    display:grid;
    grid-template-columns: repeat(3, minmax(220px, 3fr));
    grid-gap:1rem 2rem;
    
}




@media (max-width: 768px) { 
    .projects-grid {grid-template-columns: repeat(2,1fr);}
    
}

@media (max-width: 640px) { /*//mobile//*/
    .projects-grid {grid-template-columns: repeat(1,1fr);}
    .logo-title {
        display: none;
    }
    .logo {
        max-width: 80%;
    }  
}

/* PROJECT */
.project {
    width: 100%;
    display: block;
    position: relative;    
}

.project-title {
    bottom: 0;
    padding:0.1em 0.4em;  
}

.current-menu-item {
    background-color:var(--primary-color);
    display: inline-block;
}


/* Mach margin bottom project */
.nav-main {
    padding-top: 0vh;
    padding-top: var(--margin-top);
    position:absolute;
    top:0;
   

}

 @media  (max-width: 1024px) { /*//mobile */
    .nav-main {
        padding-top: 0;
        position:relative;
        
        
    }
}


@media (min-height: 800px) and (min-width: 1025px)   {
    .nav-main{
        bottom:0;
        padding-top: 0;
        position:relative;
        margin-bottom: var(--margin-bottom);   
        
    }
  }



/* ARTICLE */

.article-content p {
    margin-bottom: 1rem;
}
.article-content ul {
    margin-bottom: 1rem;;
}

b, strong {
    font-weight: 700;
}

/* THINGS */

svg {
    max-width: 100%!important;/* !!!!not god */
}

.logo {
    width: 120px;
}
.font-copy {
    font-size: 13px;
}

.nav-main a:hover {
    background-color: var(--primary-color);
}

.cookie-btn{
    text-decoration: underline;
}