{% block html_head_container %}

	{% include 'html-header.twig' %}
	
	{% block head %}
	
	{% endblock %}
	
	</head>
{% endblock %}

	<body class="{{body_class}} tw-h-full tw-box-border tw-font-light font-copy tw-subpixel-antialiased tw-antialiased" data-template="base.twig" >

			<aside id="sidebar" class="sidebar tw-px-4 tw-py-2 lg:tw-pl-8">
				
				<header class="header tw-pt-3 " >
					
					{% include 'parts/header.twig' %}
					{% block header_extra %}{% endblock %}
					
				</header>

				<footer class="site-footer tw-hidden lg:tw-block">
					{% include 'footer.twig' %}
					{% block footer %}
					
					{% endblock %}
				</footer>
				
			</aside>
			
			<section id="content" role="main" class="tw-z-0 content-wrapper tw-px-4 tw-py-2  
			lg:tw-py-8 
			lg:tw-pr-8 
			lg:tw-pl-0">
			
				{% if title %}<h1>{{title}}</h1>{% endif %}
				
				{% block content %}
					Sorry, no content
				{% endblock %}
				
			</section>

			<footer class="site-footer lg:tw-hidden tw-relative tw-mt-20 tw-pl-4 tw-pb-4">
				{% include 'footer.twig' %}
			</footer>

		{{ function('wp_footer') }}

		{# <script>


		function SameMarginBotoom(ClassName,elIndex,sameElClassName) {
			
			const el = document.getElementsByClassName("ClassName");
			const elTop = el[elIndex].offsetTop;
			const elHeight = el[0].offsetHeight;
			const elMarginBotoom = document.getElementById("sameElClassName");
			const ViewportH = window.innerHeight;
			
			const elBottom= ViewportH - elTop - elHeight;

			const marginBottom = el.style.setProperty('--margin-bootom', elBotoom + "px");
			const marginTop = el.style.setProperty('--margin-top', elTop + "px");

			console.log("eltop = " + elTop +  '/ Wh = '+ ViewportH + '/ eH = ' + elHeight + ' margin = ' + elBotoom );
			
			
		}

		window.addEventListener('resize',SameMarginBotoom());
		
		SameMarginBotoom(logo,0,);

		</script> #}

		<script src="{{ site.theme.link }}/static/build/site-min.js"></script>
	
	</body>
</html>
