{% extends "base.twig" %}

{% block content %}
	
	<div class="projects-grid" id="projects">
	
	{% for post in posts %}
		{% include ['components/project.twig'] %}
	{% endfor %}
	
	</div>


{% endblock %}

{% block footer%}

{% endblock %}

