{% if menu %}
	<ul>
	{# <h2 class="tw-text-3xl">{{title}}</h2> #}
	{% for item in items %}
		<li class="{{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{# {% include "menu.twig" with {'items': item.children} %} #}
		</li>
	{% endfor %}
	</ul>
{% endif %}
