{% extends "base.twig" %}

{# {% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %} #}

{% block content %}
	<div class="tw-pb-10 tw-pr-8">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

			<section class="article-content">
				
				<h1 class="tw-uppercase">{{ post.title }}</h1>

				<div class="article-body tw-mt-2 tw-mb-12 tw-max-w-2xl">
					{{post.content}}
				</div>
				
				{% for img in project_images %}
					<img class=" tw-mb-8" src="{{ Image(img) }}" />
				{% endfor %}
				
				
				{# <p class="blog-author">
					<span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
				</p> #}
					
			</section>
		
		{# <h1 class="tw-pb-8 tw-text-xl tw-mt-12">Otros proyectos:</h1>
		<div class="tw-grid tw-grid-cols-3 tw-gap-8 tw-pr-6">
		{% for post in randomposts |slice(0, 3) %}
		
			{% include ['components/project.twig'] %}
		
		{% endfor %} 

		</div> #}
			
		</article>

		

			
	</div>
		
		
{% endblock %}
