{% extends "base.twig" %}

{% block content %}
	<div class="tw-pb-10">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

			<section class="article-content">
				
				<h1 class="tw-uppercase">{{ post.title }}</h1>

				<div class="article-body tw-mt-2 tw-mb-12 tw-max-w-2xl">
					{{post.content}}
				</div>
				
				{% for img in project_images %}
					{% if img  %}
					<img class=" tw-mb-8" src="{{ Image(img) }}" />
					{% endif %}
				{% endfor %}
					
			</section>
		
		{% include ['components/related-posts.twig'] %}
			
		</article>
	</div>

{% endblock %}


