<nav id="nav-main" class="nav-main tw-text-sm tw-uppercase tw-transition tw-duration-300 tw-opacity-0" role="navigation">
	{% include "menu.twig" with {'items': menu_projects.get_items, 'title': menu_projects.title} %}
	{% include 'components/rrss.twig' %}
</nav>