<a href="{{post.link}}" class="project tw-transition tw-duration-300 hover:tw-shaxdow-sm tw-transform hover:tw-scale-x105 hover:tw-opacity-75">

{% if post.thumbnail %}

<img  src="{{post.thumbnail.src| resize(500, 500) }}" alt="">

{% else %}
    <img  src="{{ Image(post.meta('imagen_1')).src | resize(500, 500) }}"/>
     
{% endif %}
   <h1 class="project-txitle tw-text-sm">{{post.title}}</h1>
    
</a>
