<h1 class="tw-pb-8 tw-text-lg tw-mt-12">Otros proyectos:</h1>
<div class="tw-grid tw-grid-cols-2 sm:tw-grid-cols-3 tw-gap-8">
{% for post in randomposts |slice(0, 3) %}
	{% include ['components/project.twig'] %}
{% endfor %} 
</div>